# dependencies
node_modules/
__pycache__/
bin/
build/
dist/
env/
lib/
lib64
pyvenv.cfg

# Expo
.expo/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
