colorama==0.4.6
loguru==0.6.0
notify-py==0.3.42
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.16.1
six==1.16.0
websockets==12.0
win32-setctime==1.1.0
flask==3.0.3
requests==2.32.2
socketio==0.2.1
Flask-Cors==4.0.2
Flask-SocketIO==5.3.6
gevent==24.11.1
gevent-websocket==0.10.1
toml==0.10.2
exponent-server-sdk==2.1.0
websocket-client==1.8.0
QtPy==2.4.2
pyperclip==1.9.0
aiohttp==3.11.8
